Read in all 5 FAANG company data and combine them into one.

In [ ]:
import pandas as pd

In [ ]:
facebook = pd.read_csv('data/facebook.csv')
netflix = pd.read_csv('data/netflix.csv')
amazon = pd.read_csv('data/amazon.csv')
apple = pd.read_csv('data/apple.csv')
google = pd.read_csv('data/google.csv')

arr = [facebook, netflix, amazon, apple, google]
faang = pd.concat(arr)

Wrangle with data

Deal with NaN and empty strings.